Source: barev-purple
Section: user/network
Priority: optional
Maintainer: Norayr Chilingarian <norayr@arnet.am>
Build-Depends: debhelper (>= 11), libpurple-dev, libxml2-dev, yggdrasil
Standards-Version: 4.1.3
Homepage: https://github.com/norayr/barev-purple
XSBC-Bugtracker: mailto:norayr@arnet.am
XSBC-Maemo-Display-Name: Barev Purple
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IB2cks
 fwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1F
 B+oCDRMVBjMXR/EAAAIlSURBVGje7ZrLahsxFIY/X5ImdmtDE4LdJDi4dJWt
 94Es+yAteae+Q+iu26yy7KYliRPS2i1xSJsLuKapx70sLMNQ8BlpLGskyIGD
 xfwaoW90JB0JQ+CWS/leA1gF8sAjYAEoKs8rLygvTim/AzqugQvAG+CvBb8B
 dlwDvLLU+Ym3Z+1Q0bD+S0H7CBwK+jJQB7aApnpWcz0Cx8LX3NNsoxV753LW
 DuUN678QtDTh4BSgllD/u0E7Exu6BFhP0NspAHquR2CaRcBPzXaeZBVCzwTt
 1KCdZoqwswKwImg/DNqJj0DHJUBD0M5SjsCVS4DHgtY3aKcSK3ddAjwXNJNQ
 2IiVP7sEKAvadYq5FKmEzhlA08ImVoqVj2zkNnmDetIc+KLZzqrNFcgEYDNB
 193ECv8lhs6slZDXL2u2s6DS7h6wa6NjuueBmqURiIBtm19WN4SkRO42y0O9
 LkBd0C6yBNANISmRW1JzZGK/gVHsN1J5fxTzoY2zgIm9tXyY/+DTHCCEEFoT
 tF9qaRyoDW2gvvIf5SP1rK98ZCOFMLGc6si0cHjt+yr0FPkK8r3vAI0Eves7
 QGnedzvzBpAus75mvQrNOgJXIQBII/AtBIBy6CHUtHQbkRlAVdA+hQAgpdKD
 0AG6vgNUE9KIa98BtnzehXUAygn6he8A0hJ6gweWBCClEZ0QACqCdhcCgLSE
 nodwJt4HToBFxn/qWGR8v3kPHPBgs9s/QYContD0WtQAAAAASUVORK5CYII=

Package: barev-purple
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pidgin, yggdrasil
Description: Barev libpurple plugin (XMPP-flavored Bonjour over Yggdrasil)
 Barev is an XMPP-flavored adaptation of Bonjour that works over Yggdrasil.
 Provides the libpurple backend used by Telepathy-Haze for maemo-leste's
 Conversations system.
