<?xml version="1.0" encoding="UTF-8"?>
<service type="im">
    <name>Barev</name>
    <description>XMPP-flavored Bonjour over Yggdrasil</description>
    <icon>im-barev</icon>
    <provider>barev</provider>
    <translations>barev</translations>
    <template>
        <group name="account">
            <setting name="account">username</setting>
        </group>
    </template>
</service>